<div class="layout">
    <article>
     
        <h2 class="article-title">2-Doloribus ducimus</h2>
    
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
          ducimus, voluptates corporis, illo exercitationem sit illum eum
          dolore et modi possimus odio cupiditate, maiores accusamus saepe
          quisquam sequi dignissimos ratione!
        </p>
  
        <a href="#" class="read-more">en savoir plus</a>
     
    </article>
    <article>
     
        <h2 class="article-title">2-Omnis voluptatum</h2>
    
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum,
          nam! Omnis voluptatum excepturi explicabo modi molestiae?
          Veritatis impedit labore ipsam nobis dicta adipisci iusto placeat
          inventore, ipsa mollitia minus architecto!
        </p>
      
        <a href="#" class="read-more">en savoir plus</a>
     
    </article>
    <article>
     
        <h2 class="article-title">2-Reiciendis labore</h2>
     
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Reiciendis labore, sed expedita non, fugiat repellendus nobis
          distinctio quas voluptas excepturi deleniti animi ratione, aliquid
          ut vitae? Hic, suscipit? Et, neque.
        </p>
     
        <a href="#" class="read-more">en savoir plus</a>
     
    </article>
    <article>
       
          <h2 class="article-title">2-Reiciendis labore</h2>
      
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Reiciendis labore, sed expedita non, fugiat repellendus nobis
            distinctio quas voluptas excepturi deleniti animi ratione, aliquid
            ut vitae? Hic, suscipit? Et, neque.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Reiciendis labore, sed expedita non, fugiat repellendus nobis
            distinctio quas voluptas excepturi deleniti animi ratione, aliquid
            ut vitae? Hic, suscipit? Et, neque.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Reiciendis labore, sed expedita non, fugiat repellendus nobis
            distinctio quas voluptas excepturi deleniti animi ratione, aliquid
            ut vitae? Hic, suscipit? Et, neque.
          </p>
      
          <a href="#" class="read-more">en savoir plus</a>
       
      </article>
      <article>
        
          <h2 class="article-title">2-Reiciendis labore</h2>
       
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Reiciendis labore, sed expedita non, fugiat repellendus nobis
            distinctio quas voluptas excepturi deleniti animi ratione, aliquid
            ut vitae? Hic, suscipit? Et, neque.
          </p>
       
          <a href="#" class="read-more">en savoir plus</a>
       
      </article>
  </div>