<div class="layout">
  <article>
   
      <h2 class="article-title">Wordpress portfolio</h2>

   
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        ducimus, voluptates corporis, illo exercitationem sit illum eum
        dolore et modi possimus odio cupiditate, maiores accusamus saepe
        quisquam sequi dignissimos ratione!
      </p>
    
   
      <a
        href="https://n-sch.000webhostapp.com/wordpress/www/"
        class="read-more"
        >accéder au site</a
      >
    
  </article>
  <article>
   
      <h2 class="article-title">Wishlist projet d'école</h2>
  
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum,
        nam! Omnis voluptatum excepturi explicabo modi molestiae?
        Veritatis impedit labore ipsam nobis dicta adipisci iusto placeat
        inventore, ipsa mollitia minus architecto!
      </p>
  
      <a href="#" class="read-more">accéder au site</a>
    
  </article>
  <article>
  
      <h2 class="article-title">Frontend e-commerce</h2>

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Reiciendis labore, sed expedita non, fugiat repellendus nobis
        distinctio quas voluptas excepturi deleniti animi ratione, aliquid
        ut vitae? Hic, suscipit? Et, neque.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Reiciendis labore, sed expedita non, fugiat repellendus nobis
        distinctio quas voluptas excepturi deleniti animi ratione, aliquid
        ut vitae? Hic, suscipit? Et, neque.
      </p>
 
      <a href="#" class="read-more">accéder au site</a>
  
  </article>
</div>